<!-- inherit from base.html-->
{% extends "app/base_template.html" %}
{% load static %}

<!-- Replace block content in base_template.html -->
{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<h1 style="color: #ff9100; padding-bottom: 0.5%;">Main Forum</h1>
<a href="{% url 'create-post'%}" style="padding-bottom: 0.5%;"><button type="button" style="height: 5%; width: 10%; font-size: 30px; border: 4px solid black;" name="new">New</button></a>
    <table style="color:darkorange; border: 2px solid black; letter-spacing: 1px;">
        <thead style="background-color: #454545;"> <tr>
            <th scope="col">User</th>
            <th scope="col">Post</th>
            <th scope="col">Date</th>
        </tr></thead>
        <tbody style="background-color: #353535;">
        {% for i in posts %}
        <tr>
                    <!-- Post Wrapper -->
                    <th scope="row" style="color:#AA4411;"> {{ i.op }} </th>
                    <td style="color:#FF4411;"><a href="{{ i.get_absolute_url }}"> {{i.title}} </a></td>
                    <td style="color:#FF4411;"> {{i.date}} </td>
        </tr>
                    <!---
                    <strong><a href="{{ i.get_absolute_url }}" style="background-color: black; outline: 2px solid grey; font-size: 30px;">Username: {{ i.title }} | posted: {{i.date}}</a></strong>
                    -->
                </div>
                </p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}